# Visual Studio Code
.vs/

# Python Tools for Visual Studio (PTVS)
src/__pycache__/
src/*.pyc

# BlackBird data
data/

# Sphinx documentation
docs/

# BlackBird Models and Summaries
blackbird_models/
blackbird_summary/

# BlackBird Virtual Environment
BlackBirdEnvironment/

# Blackbird Extraneous
*.pyperf
parameters.yaml
NextNetworkParams.yaml
.vscode/*
src/goodGames.txt
